<a href="https://material.angular.io/components/expansion/examples">More Example</a>

<mat-accordion hideToggle>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Collage</mat-panel-title>
  </mat-expansion-panel-header>
  <p>Parul University</p>
  <p>GTU</p>
  <mat-action-row>
    <button mat-button>Enroll</button>
  </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Course</mat-panel-title>
  </mat-expansion-panel-header>
  <p>Angular</p>
  <p>React</p>
</mat-expansion-panel>

</mat-accordion>
